@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #4158d0, #c850c0);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    height: min(100%, 150px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-left {
    display: flex;
    align-items: center;
    padding-left: 8%;
    gap: 15px;
}

.library-title {
    font-size: clamp(50px, 4vw + 1rem, 60px);
    padding-top: 10px;
    white-space: nowrap;
    color: white;
}

svg {
    height: clamp(75px, 4vw + 2.4rem, 90px);
    
}

.add-book-header {
    appearance: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    align-self: center;
    justify-self: end;
    margin: 10px 15% 0 0;
}

.main  {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-radius: 6px;
    letter-spacing: 1px;
    font-size: 1rem;
    width: clamp(300px, 70vw, 1000px);
    margin-top: 80px;
}

thead {
    background-color: #36304a;
    color: #fff;
}

td {
    padding: 15px 20px;
    max-width: 250px;
}

th {
    padding: 20px 20px;
    
}

tbody {
    background-color: #fff;
    text-align: center;
    color: #808080;
    font-size: 0.9rem;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

tbody > tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tbody > tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.add-book-main {
    appearance: none;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: #fff;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

@media screen and (max-width: 560px) {
    div > .library-title {
        display: none;
    }
}

.form-container {
    position: relative;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 300px;
    padding: 7px 15px 30px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    background-color:rgba(68, 68, 68, 0.566); 

}

.remove-form {
    appearance: none;
    border: none;
    background-color: #fff;
    font-size: 18px;
    width: 21px;
    align-self: flex-end;
    padding: 0;
    border-radius: 100%;
}

.remove-form:hover {
    border: 1px solid black;
}

form {
    display: grid;
    flex-direction: column;
    gap: 15px;
}

input {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

#title, #author, #pages {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #000;
    font-size: 18px;
    color: #333;
    width: 270px;
    background-color: #fafafa;
}

#title:focus,
#author:focus,
#pages:focus {
    border: 2px solid #6221b7;
}

label {
    font-size: 18px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.50em;
    height: 1.50em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #6221b7;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

form div:nth-child(4){
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}